<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<section class="main">
			<header>
				<section>
				<nav>
					<ul>
						<li><a href="#">Write a review</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Talk</a></li>
						<li class="hi"><a href="#">Log In</a></li>
						<li class="pi"><a href="#"><button>Sign Up</button>
					</ul>
				</nav>
			</section>
			</header>
			<section class="yelp">
				<h1><img src="https://s3-media3.fl.yelpcdn.com/assets/srv0/styleguide/24e1fe240f00/assets/img/brand_guidelines/yelp_fullcolor_outline.png"></h1>
			</section>
			<section class="mone">
				<section>
					<form>
		        <button>Find</button>
		        <input type="text" placeholder="Taco's, Cheap dinner, Max's">
		        <button>Near</button>
		        <input type="text" placeholder="Boston, Ma">
		        <button>Search</button>
		      </form>
					<nav>
						<ul>
							<li class="fa fa-cutlery" aria-hidden="true"></li>
							<li><a href="#">Resturants</a></li>
							<li class="fa fa-glass" aria-hidden="true"></li>
							<li><a href="#">Nightlife</a></li>
							<li class="fa fa-wrench" aria-hidden="true"></li>
							<li><a href="#">Home Services</a></li>
							<li class="fa fa-truck" aria-hidden="true"></li>
							<li><a href="#">Delivery</a></li>
						</ul>
					</nav>
				</section>
					<span>Photo by Sharon H.</span>
				</section>
			</section>
		</section>
		<section class="second">
			<section class="byelp">
				<h3>Yelp Boston</h3>
			</section>
			<section class="head">
				<nav>
				 <ul>
					 <li><a href="#">San Francisco</a></li>
					 <li><a href="#">New York</a></li>
					 <li><a href="#">San Jose</a></li>
					 <li><a href="#">Los Angelos</a></li>
					 <li><a href="#">Chicago</a></li>
					 <li><a href="#">Palo Alto</a></li>
					 <li><a href="#">More Cities</a></li>
				 </ul>
				</nav>

			</section>
			<section class="sone">
				<section class="food">
					<img src="https://s3-media1.fl.yelpcdn.com/bphoto/sS4ekaBdvnsRpEUJfnGh-g/ls.jpg">
					<section>
						<span>12 reviews</span>
					</section>
					<section>
						<span>$ Gastropubs</span>
					</section>
					<section>
						<span>East Boston</span>
					</section>
		      <section>
		      	<span>Opened 2 weeks ago</span>
		      </section>

				</section>
				<section class="food2">
					<img src="https://s3-media4.fl.yelpcdn.com/bphoto/hbCIBAzBxk_7blxxCECkyA/ls.jpg">
					<section>
						<span>8 reviews</span>
					</section>
					<section>
						<span>$$$ Bars, Seafood, British</span>
					</section>
					<section>
						<span>Boston, Ma</span>
					</section>
					<section>
						<span>Opened 4 weeks ago</span>
					</section>

				</section>
				<section class="food3">
					<img src="https://s3-media1.fl.yelpcdn.com/bphoto/vMob6lUish21Efh3Xhpx0Q/o.jpg">
					<section>
						<span>21 reviews</span>
					</section>
					<section>
						<span>$$$ Wine Bars, Cocktail Bars, Seafood</span>
					</section>
					<section>
						<span>Back Bay</span>
					</section>
					<section>
						<span>Opened 7 weeks ago</span>
					</section>
				</section>
			</section>
			<section>
				<section class="smain">

			</section>

		</section>
		<section class="third">
			<section class="tmain">
				<h2>Hot & New Buisnesses</h2>
			</section>
			<section class="boxes">
				<section class="box1">
					<section class="l1">
						<a href="#"><button>Resturants</button></a>
					</section>
					<section class="l2">
						<a href="#"><button>Shopping</button></a>
					</section>
					<section class="l3">
						<a href="#"><button>Nightlife</button></a>
					</section>
					<section class="l4">
						<a href="#"><button>Active Life</button></a>
					</section>
				</section>
				<section class="box2">
					<section class="l5">
						<a href="#"><button>Beauty & Spas</button></a>
					</section>
					<section class="l6">
						<a href="#"><button>Automotive</button></a>
					</section>
					<section class="l7">
						<a href="#"><button>Home Services</button></a>
					</section>
					<section class="l8">
						<a href="#"><button>More Categories</button></a>
					</section>

				</section>

			</section>
		</section>


	</body>
</html>
